@import "catppuccin-mocha.rasi"

configuration {
	font: "JetBrains Mono Nerd Font 11";
}

listview {
		expand: true;
		cycle: true;
		margin: 10px;
		text-align: center;
}

element {
		padding: 10px;
		border-radius: 10px;
}

element-icon {
		size: 62;
}

element-text, element-icon {
		color: inherit;
		background-color: inherit;
}

window {
		width: 450px;
		padding: 10px;
}

inputbar {
		children: [prompt,entry];
		margin: 10px 20px;
}
