@import "colorscheme.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  border-radius: 0px;
  border: none;
  transition-property: all;
  transition-duration: 1s;
}

window#waybar {
  background-color: alpha(@base, 0.8);
  border: 2px solid alpha(@crust, 0.7);
}

/* All Settings */
#workspaces,
#mpd,
#wireplumber,
#tray,
#clock {
  color: @text;
  margin: 5px;
  border-radius: 12px;
  padding: 2px 10px;
  background-color: @surface1;
}

/* workspace */
#workspaces {
  padding: 2px;
}
@keyframes workspace_urgent {
  0% {
    color: @sky;
    background-color: @sky;
  }

  50% {
    color: @red;
    background-color: @red;
  }
}

#workspaces button {
  padding: 0px 8px;
  margin: 0px 3px;
  background-color: @mauve;
  border-radius: 12px;
  transition-property: all;
  transition-duration: 0.5s;
}

#workspaces button.active {
  padding: 0px 18px;
  background-color: @lavender;
}

#workspaces button.workspace_urgent {
  animation: urgent 1s infinite;
}

/* volume */
#wireplumber.muted {
  text-decoration: line-through;
}
